/* Patient Profile */

.patient-profile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 1366px;
  height: 768px;
  background: #FFFFFF;
  background-image: url('../assets/images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
