.nav-bar {
  width: 70px;
  height: 768px;
  transform: rotate(0deg);
  opacity: 1;
  border: 1px solid #FFFFFF;
  background: #845CC0;
}

.nav-bar-logo {
  position: absolute;
  width: 37px;
  height: 37px;
  left: 17px;
  top: 27px;
  transform: rotate(0deg);
  opacity: 1;
}

.nav-bar-home-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 105px;
  left: 20px;
  transform: rotate(0deg);
  opacity: 1;
  border: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  outline: none;
}

.nav-bar-home-button:active,
.nav-bar-home-button:focus {
  background: transparent;
  box-shadow: none;
  outline: none;
}

.nav-bar-home-icon {
  position: absolute;
  width: 18.75px;
  height: 21.12px;
  top: 4.51px;
  left: 5.63px;
  transform: rotate(0deg);
  opacity: 1;
}

/* Nav bar back button */
.nav-bar-back-button {
  position: absolute;
  width: 11px;
  height: 21px;
  top: 160px;
  left: 30px;
  opacity: 1;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.nav-bar-back-button:active,
.nav-bar-back-button:focus {
  background: transparent;
  box-shadow: none;
  outline: none;
}

/* Nav bar back arrow icon */
.nav-bar-back-arrow-icon {
  width: 11px;
  height: 21px;
}

/* Nav bar document icon */
.nav-bar-document-icon {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 209px;
  left: 24px;
  opacity: 1;
  display: block;
}

/* Nav bar bar icon */
.nav-bar-bar-icon {
  position: absolute;
  width: 26px;
  height: 3px;
  top: 236px;
  left: 23px;
  opacity: 1;
}

/* Nav bar exit button */
.nav-bar-exit-button {
  position: absolute;
  width: 22.5px;
  height: 22.5px;
  top: 702px;
  left: 24px;
  opacity: 1;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  background: transparent;
}

.nav-bar-exit-button:active,
.nav-bar-exit-button:focus {
  background: transparent;
  box-shadow: none;
  outline: none;
}
